body {
  height: 100vh;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
  background: url(./images/background.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-family: "Roboto Mono", monospace;
}

button {
  font-family: inherit;
  border-radius: 5px;
}

.frame,
.menu {
  border-radius: 35px;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 850px;
  height: 650px;
  border: 3px solid rgb(138, 138, 138);
  background-color: black;
}

.grid {
  width: 750px;
  height: 525px;
  border: 2px solid rgb(204, 200, 200);
  background-color: rgb(150, 148, 148);
  display: flex;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(168, 235, 255);
}

/*MENU*/
.menu,
.settings,
.size-buttons,
.color-buttons {
  display: flex;
  flex-direction: column;
}

.menu {
  gap: 45px;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 20px;
}

h2 {
  color: rgb(168, 235, 255);
  margin-top: 0;
}

.settings {
  align-items: center;
}

/* Buttons */
.buttons,
.size-buttons,
.color-buttons {
  gap: 15px;
}

.buttons {
  display: flex;
}

.blue-btn {
  background-color: rgb(198, 231, 241);
}

#black-bkg,
#black-sketch {
  background-color: black;
  color: white;
}

#grey-bkg {
  background-color: rgb(150, 148, 148);
}

#neon-sketch {
  background-image: linear-gradient(
    to right,
    rgb(255, 238, 2),
    rgb(255, 179, 14),
    rgb(255, 43, 209),
    rgb(22, 247, 255),
    rgb(35, 255, 27)
  );
}

#pastel-sketch {
  background-image: linear-gradient(
    to right,
    rgb(255, 183, 245),
    rgb(255, 207, 102),
    rgb(155, 255, 185),
    rgb(162, 252, 255),
    rgb(234, 180, 255)
  );
}

/* GRID */
.grid-columns {
  display: flex;
  flex-direction: column;
}

.grid-columns,
.grid-squares {
  border: 1px solid black;
  flex-grow: 1;
}
